h1 {
  font-family: Impact, sans-serif;
  text-align: center;
  font-size: 10vw;
  margin-top: 6.25%;
  text-shadow: -1px 2px 5px black;
}
h2 {
  font-family: Impact, sans-serif;
  text-align: center;
  font-size: 8.5vw;
  margin-top: -8.5%;
  text-shadow: -1px 2px 5px black;
}
.navigationBar {
  height: 3.5vw;
  width: 100vw;
  background-color: #590000;
  opacity: 0.975;
  margin-left: -1vw;
  margin-top: -6.25%;
  position: fixed;
  verticle-align: top;
  display: inline-block;
}
a.button {
  text-decoration: none;
  font-size: 2.75vw;
  font-family: impact, sans-serif;
  height: 2vh;
  padding-bottom: 0.125vw;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

@-webkit-keyframes mouseover {
  from {
    background-color: #590000;
  }
  to {
    background-color: #222222;
  }
}

/* Standard syntax */

@keyframes mouseover {
  from {
    background-color: #590000;
  }
  to {
    background-color: #222222;
  }
}

.button:hover {
  background-color: #222222;
  -webkit-animation-name: mouseover;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: mouseover;
  animation-duration: 1s;
}
body {
}
